@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
}

.logo h1 {
  font-size: 24px;
}

.header-links {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  list-style: none;
  font-size: 18px;
}

.header-links a {
  text-decoration: none;
  color: #f9faf8;
}

.section1 {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  height: 500px;
  background-color: #1f2937;
  padding: 10px 100px;
}

.section1 h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.section1 h2 {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f7;
  color: #f9faf8;
  border: none;
  font-size: 18px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.section2 h1 {
  font-size: 18px;
  text-align: center;
}

.section2 .row-containers {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.section2 .box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: wrap;
  width: 200px;
}

.section2 h1 {
  font-size: 36px;
  text-align: center;
  color: #1f2937;
  font-weight: 900;
}

.box-container p {
  text-align: center;
  font-size: 18px;
  color: #1f2937;
}

.section2 .box-container .box {
  border: 5px solid #3882f7;
  border-radius: 5px;
  width: 200px;
  height: 200px;
}
